@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900');


h1{
  font-family: 'Nunito', sans-serif;
  font-size: 5em;
  font-weight: 700;
  color: white;
}

h2{
  font-family: 'Nunito', sans-serif;
  font-size: 3em;
  font-weight: 300;
  color: white;
}

h3{
  font-family: 'Nunito', sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  color: white;
}

#a-propos h2{
  font-family: 'Nunito', sans-serif;
  font-size: 4em;
  font-weight: 800;
  color: #575757;
}

p {
font-family: 'Nunito', sans-serif;
font-weight: 400;
line-height: 1.8em;
font-size: 2em;
margin-top: 2vh;
margin-bottom: 2vh;
}

.legende {
font-family: 'Nunito', sans-serif;
font-style: italic;
font-weight: 400;
line-height: 1.8em;
font-size: 2.2em;
margin-top: 2vh;
color: #575757;
}

#retour a{
  font-family: 'Nunito', sans-serif;
  font-size: 2.5em;
  font-weight: 800;
  color: #575757;
}

@media screen and (max-height: 640px){
  h1{
    font-size: 3em;
  }

  h2{
    font-size: 2em;
  }

  h3{
    font-size: 1.8em;
  }
  #a-propos h2{
  font-size: 2em;
  }
  p{
    font-size: 1em;
    line-height: 1.4em;
  }
  .legende {
    line-height: 1.2em;
    font-size: 1.2em;
  }
  #retour a{
    font-size: 1.5em;
  }
}
