body {
  margin: 0;
  background-image: url('img/img-portrait-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  position: absolute;
  min-height: 30%;
  width: 100%;
  bottom:0;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 82.32%);
}

.info {
  display: grid;
grid-template-columns: auto, auto;
 color: #ffffff;
  padding: 20px;

}
